<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SftpDomainClientSuite">
    <test name="SmokeTests">
        <classes>
            <class name="com.infotecs.internship.tests.SmokeTest"/>
        </classes>
    </test>
    <test name="ModelTests">
        <classes>
            <class name="com.infotecs.internship.model.AddressEntryTest"/>
        </classes>
    </test>
</suite>