<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SftpDomainClientSuite">
    <test name="SmokeTests">
        <classes>
            <class name="com.infotecs.internship.tests.SmokeTest"/>
        </classes>
    </test>
    <test name="ModelTests">
        <classes>
            <class name="com.infotecs.internship.model.AddressEntryTest"/>
        </classes>
    </test>
    <test name="ValidationTests">
        <classes>
            <class name="com.infotecs.internship.validation.IpV4ValidatorTest"/>
        </classes>
    </test>
    <test name="JsonTests">
        <classes>
            <class name="com.infotecs.internship.json.AddressJsonParserTest"/>
            <class name="com.infotecs.internship.json.AddressJsonWriterTest"/>
        </classes>
    </test>
    <test name="TransportTests">
        <classes>
            <class name="com.infotecs.internship.transport.SftpFileTransportTest"/>
        </classes>
    </test>
    <test name="StorageTests">
        <classes>
            <class name="com.infotecs.internship.storage.AddressBookTest"/>
        </classes>
    </test>
    <test name="UITests">
        <classes>
            <class name="com.infotecs.internship.ui.ConsoleMenuTest"/>
        </classes>
    </test>
</suite>